name: Wrap and Release
on:
  push:
    branches: master
jobs:
  wrap-and-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Lua
        run: sudo apt-get update && sudo apt-get install -y lua5.3

      - name: Install Node.js dependencies
        run: cd scripts && npm install

      - name: Detect Version Number
        if: github.ref == 'refs/heads/master'  # ONLY ON MASTER
        run: |
          ./scripts/version-number-from-src.sh
          echo "VERSION_NUMBER=$( ./scripts/version-number-from-src.sh )" >> $GITHUB_ENV

      - name: Build ArchHUD.conf
        if: github.ref == 'refs/heads/master'  # ONLY ON MASTER
        run: ./scripts/wrap.sh true

      - name: Create Release Notes
        if: github.ref == 'refs/heads/master'  # ONLY ON MASTER
        run: |
          cat ./scripts/ReleaseNotesTemplate.md > ReleaseNotes.md
          ./scripts/latest-changes.sh >> ReleaseNotes.md

      - name: Create Release
        if: github.ref == 'refs/heads/master'  # ONLY ON MASTER
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create "v${{ env.VERSION_NUMBER }}" \
            --title "Release v${{ env.VERSION_NUMBER }}" \
            --notes-file ReleaseNotes.md \
            ArchHUD.conf \
            ArchHUD-Telemetry.conf \
            ArchHUD-Radar.conf \
            ArchHUD-Damage.conf \
            ArchHUD-Recorder.conf
